@import url(https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css);

* {
  font-family: 'Nanum Barun Gothic', sans-serif;
}
html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}
#root {
  
}
.home {
  background-image: url('/asset/images/background.png');
  background-color: #424242;
  height: 100%;
}

.other {
  background-color: #f5f5f5;
  height: 100%;
}
.logo {
	 width: 473px;
	 margin-top: 112px;
   display: block;
}
.main-divider {
	width: 39px;
	height: 1px;
	border: solid 2px rgba(217, 214, 214, 1);
	display: block;
	margin-top: 22.4px;
	margin-bottom: 27px;
}
.main-p {
  line-height: 2;
  text-align: center;
  color: #ffffff;
  font-size: 20px;
  font-weight: 300;
}

.search-input {
	width: 480px !important;
	height: 59px !important;
	border-radius: 5px !important;
	box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.5) !important;
	text-align: left;
  padding-left: 20px !important;
  padding-right: 100px !important;
  background-color: white !important;
  font-size: 16px !important;   
}

.nav-search-input {
  width: 194px !important;
  height: 35px !important;
  border-radius: 5px !important;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.5) !important;
  text-align: left;
  padding-left: 20px !important;
  padding-right: 70px !important;
  background-color: white !important;
  font-size: 16px !important; 
  color: black !important;
}
.nav-search-icon {
  width: 28px;
  position: absolute;
  right: 5px;
  top: 18px;
  cursor: pointer;
}

.topSearchInput {
	width: 188px !important;
	height: 25.7px !important;
	border-radius: 100px !important;
	background-color: #ffffff;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3) !important;
    border: solid 1px #979797 !important;
    text-align: center
}

.search-icon {
	width: 19px;
	position: absolute;
    right: 16px;
    top: 6px;
    cursor: pointer;
}
.main-search-icon {
    width: 30px;
    position: absolute;
    right: 38px;
    top: 9px;
    cursor: pointer;
}
.transparent-logo {
  width: 48px;
  margin-top: 70px;
  text-align: center;
  margin-bottom: 24px;
}

.main-sub-text {
  color: #ffffff;
  font-size: 29px;
  text-align: center;
}
.relative-choose {
  position: relative;
  height: 44px;
}
#watch-nav {
	background-color: #ffffff;
	border: solid 1px #979797;
}

#watch-nav a {
	color: black;
}

.main-letter {
	margin-top: 60px;
  margin-bottom: 20px;
	display: block;
	font-size: 21px;
  font-weight: normal;
  color: #9b9b9b;
}

.main-black-button {
	  border-radius: 8px;
	  background-image: linear-gradient(to bottom, #626262, #070707);
	  border-style: solid;
	  border-width: 2px;
	  color: #afafaf;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    padding: 7px 12px;
    font-size: 18px;
}
.menu-dot {
	font-weight: bold;
    font-size: 25px;
    margin: 0px 7px;
}

.body-container {
	padding-top: 60px;
}

.inline {
	display: inline-block;
}

.user-search-box {
	width: 378px;
    height: 378px;
    background-image: linear-gradient(to bottom, #a5a5a5, #6c6c6c);
   border-radius: 50%;
   vertical-align: middle;
}
#main-search {
	border-bottom: 1px solid  #3c3c3b;
     box-shadow: 0 1px 0 0 #000;
}
.user-search-box label{
     color: white !important;
  }
#main-search:focus + label {
     color: white;
 }

 .text-left {
 	text-align: left;
 }

.user-search-box .input-field {
	margin-top: 244px;
}
.user-search-box i {
	position: absolute;
    right: 16px;
    top: 10px;
    cursor: pointer;
}
.user-profile {
  margin-top: 19px;
  height: 53px;
  background-color: white;
  line-height: 53px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  position: relative;
}
.user-profile-img {
	float: left;
	margin-right: 25px;
	width: 53px;
}
.profile-user-name {
  color: #424242;
  font-size: 21px;
  font-weight: bold;
  vertical-align: middle;
}
.profile-user-level {
  font-size: 16px;
  margin-left: 60px;
  font-weight: bold;
  vertical-align: middle;
}
span.mode {
	cursor: pointer;
	padding: 10px 35px;
	background-color: #cecece;
  border-bottom: none;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border: solid 2px #c6c4c4;
  border-bottom: 0px;
	display: inline-block;
  text-align: center;
  width: 134px;
  position: absolute;
  top: 2px;
  
}
span.mode.active {
  width: 134px;
  text-align: center;
	background-color: white;
  border: solid 2px #5b6abf;
  border-bottom: none;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  position: absolute;
  top: 2px;
  z-index: 50;
}
.quick-choose .row {
  margin: 0 0 0 20px !important;
}
.mode-right {
  left: 134px;
}
.mode-choose-1 {
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: solid 1px #979797;
    color: #424242;
    font-size: 16px;
    font-weight: bold;
    padding: 6px 23px;
    cursor: pointer;
    margin-right: 15px;
}
.mode-choose-2 {
    display: inline-block;
    border-radius: 4px;
    border: solid 1px #979797;
    color: #424242;
    font-size: 16px;
    font-weight: bold;
    padding: 6px 31px;
    cursor: pointer;
}

.mode-choose-1.active, .mode-choose-2.active {
  border: solid 1px #f44336;
}
.clear {
	clear: both;
}
.login-button {
	display: inline-block;
    border-radius: 16px;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    border: solid 1px #979797;
    padding: 1px 17px;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 0px;
    text-align: center;
    color: #515151;
    cursor: pointer;
}
.login-button:hover {
	background-color: #eeeeee;
}

.preloader-wrapper.mini {
    width: 20px;
    height: 20px;
}

.inline-block {
	display: inline-block;
}

.input-wrapper {
	display: inline-block;
	position: relative;
}

.top-input-div {
	display: inline-block;
	position: relative;
	float: right;
	margin-top: 35px;
}

.top-input-div .search-icon {
	width: 13.3px;
    position: absolute;
    right: 12px;
    top: 5px;
    cursor: pointer;
}

.main-link {
	color: white;
	display: inline-block;
	padding: 12px 0px;
	font-size: 18px;
    font-weight: 400;
    text-align: center;
    background-color: #5b6abf;
    border: solid 1px #979797;
    width: 130px;
    border-radius: 4px;
    margin-bottom: 54.6px;
}

.main-link:hover {
	background-color: rgba(91,106,191,0.95	);
}

.link-left {
	margin-right: 20px;
}
.link-right {
	margin-left: 20px;
}

.main-center {
	margin-bottom: 100px;
}

.user-list-box {
	clear: both;
  margin-top: 40px;
	border: solid 2px rgba(29,29,29,0.33);
	padding: 11px 11px;
}
.user-list {
	border-radius: 2px;
	overflow: auto;
    width: 100%;
	background-color: rgba(215, 215, 215, 0.2);
    border: solid 1px #6e6e6e;
  	font-size: 17px;
  	font-weight: 500;
  	letter-spacing: 0px;
  	margin-top: 4px;
  	margin-bottom: 4px;
  	padding: 7px;
  	cursor: pointer;
}
.user-list:hover {
	background-color: rgba(215, 215, 215, 0.5);
}
.user-list .avatar {
	width: 65px;
	float: left;
	border: solid 1px #6e6e6e;
}

.user-list > div {
	padding-left: 80px;
	width: -moz-calc(100% - 80px);
  width: -webkit-calc(100% - 80px);
  width: calc(100% - 80px);
}
.width-50 {
	display: inline-block;
	width: 50%;
}
.more-user {
	background-color: #5b6abf;
	border: solid 1px #6e6e6e;
	text-align: center;
	padding: 10px;
	margin: 0px 2px 2px 2px;
	border-radius: 4px;
	color: white;
	font-weight: bold;
	cursor: pointer;
	clear: both;
}
footer {
	font-size: 12px !important;
      padding-top: 20px;
    margin-bottom: 20px;
    border-top: solid 3px #454545;
}
.header {
	margin-bottom: 48px;
}
.header-logo {
	width: 50px;
	vertical-align: middle;
}
.header-title {
	display: inline-block;
    font-weight: 700;
    vertical-align: middle;
    margin-left: 16px;
}

.typo {
	height: 35px;
	vertical-align: middle;
}
.wait {
  margin-top: 300px;
  margin-bottom: 300px;
}
.header-menu {
	float: right;
	border: solid 1px #454545;
}

.header-menu a {
	width: 89.1px;
	background-color: #5b6abf;
	color: white;
	display: inline-block;
	height: 78px;
	text-align: center;
	position: relative;
	font-size: 12px;
  letter-spacing: 0px;
  text-align: center;
  color: #ffffff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.header-menu a:hover {
	background-color: rgba(82, 95, 173, 1);
}

.tab {
	height: 5px;
    background-color: white;
    position: absolute;
    width: 100%;
    bottom: 0px;
}

a.active .tab {
	background-color: #717171;
}

.header-menu a.active {
	background-color: #0e1356;
}

.header-title .login-button {
	font-size: 11px;
    vertical-align: middle;
    padding: 0px 10px;
    margin-left: 21px;
    margin-top: 7px;
}

.header-menu img {
	width: 30.4px;
	margin-top: 10.8px;
}

.list-battletag {
  font-size: 27px;
  font-weight: 500;
  letter-spacing: -0.1px;
  color: #0c0c0c;
  vertical-align: middle;
}

.youtube-select select {
	width: 112px !important;
	height: 31px !important;
	border-radius: 4px !important;
	font-size: 13px !important;
}

.youtube-card {
    padding: 0 1.25rem !important;	
}

.youtube-card .card {
	background-color: #fbfbfb !important;
    border: solid 1px #5b6abf !important;
}

.youtube-card .content {
	font-size: 16px;
    letter-spacing: 0px;
    color: #5b6abf;
    padding: 9px 13px;
    height: 60px;
}

.youtube-card .bottom-div {
	margin: 0px 13px 0px 13px;
	padding-top: 30px;
	padding-bottom: 13px;
	border-top: solid 1px #5b6abf;
}
.youtube-icon-div {
	width: 33%;
	display: inline-block;
	color: #5b6abf;
}
.youtube-icon-div img {
	vertical-align: middle;
    margin-right: 7px;
}

.write-icon {
	width: 21.6px;
	margin-top: 8px;
}

.youtube-search-icon {
	width: 21.6px;
	margin-top: 8px;
}

.youtube-write {
	background-color: #5b6abf;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  border: solid 1px #c2cbff;
  width: 43px;
  height: 43px;
  text-align: center;
  border-radius: 50%;
  display: block;
  cursor: pointer;
  float: right;
}



.youtube-search {
	background-color: #5b6abf;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  border: solid 1px #c2cbff;
  width: 43px;
  height: 43px;
  text-align: center;
  border-radius: 50%;
  display: block;
  cursor: pointer;
  margin-top: 15px;
  clear: both;
  float: right;
}

.youtube-fixed {
	position: fixed;
	z-index: 100;
}

.youtube-search-box {
  border-radius: 100px;
  background-color: #5b6abf;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  border: solid 1px #c2cbff;
  padding: 0px 30px;
  height: auto;
  margin-right: 60px;
  margin-top: 10px;
  width: 80%;
}
.whisper-to-box {
  color: white;
  display: inline-block;
  font-weight: 600;
}
.youtube-search-box select {
	display: inline-block !important;
	width: 95px !important;
	background-color: #5b6abf;
    border: 0;
    color: white;
    outline: none !important;
    height: 35px !important;
}
.youtube-search-input {
	 width: 83% !important;
	margin-bottom: 0px !important;
	padding: 0px 10px !important;
    color: white;
    height: 35px !important;
}
.youtube-search-box .youtube-search-icon {
	width: 20.1px;
    margin-bottom: 3px;
    vertical-align: middle;
    margin-top: 0px;
}
.whisper-send {
  display: inline-block;
  color: white;
  vertical-align: middle;
}
.user-data-box {
	clear: both;
}

.profile-battletag {
	font-size: 28px;
    font-weight: 500;
    color: #252525;
    display: inline-block;
}
.profile-absolute {
    top: 0px;
    position: absolute;
    right: 30px;
}
.profile-info {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0px;
  color: #252525;
}


.reputation {
	padding: 19px 40px;
	font-size: 16px;
   font-weight: normal;
   color: #ffffff;
   letter-spacing: 0px;
   border-radius: 5px;
  background-color: #5b6abf;
   margin-top: 15px;
   margin-bottom: 27px;
}

.user-detail {
	border-radius: 8px;
  	background-image: linear-gradient(to bottom, #ffffff, #e9e9e9);
  	border: solid 1px #878686;
  	margin: 10px 16px;
  height: 144px;
}

.data-title {
  display: inline-block;
	font-size: 16px;
  font-weight: bold;
  color: #424242;
  letter-spacing: 0px;
}
.waitingButton {
  padding-left: 50px;
  padding-right: 50px;
}
.waitingButton .preloader-wrapper {
  vertical-align: middle;
}
.real-data {
	font-size: 16px;
  float: right;
  font-weight: normal;
  color: #9b9b9b;
}
.dropdown-button {
  vertical-align: middle;
  padding-left: 10px;
  margin-left: 10px;
  cursor: pointer;
}
.dropdown {
    position: absolute;
    width: 112px;
    right: 10px;
    top: 52px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}
.dropdown .item {
  background-color: #f5f5f5;
  color: black;
  font-size: 14px;
      height: 40px;
    line-height: 40px;
    cursor: pointer;
}
.dropdown .item:hover {
  background-color: #d8d7d7;
}
.dropdown .item:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.dropdown .item:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.my-user {
    padding-left: 10px;
    margin-right: 10px;
}
.hero-div {
	  background-color: white;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    color: #424242;
    font-size: 23px;
    margin-top: 8px;
    position: relative;

}

.hero-avatar {
	width: 60px;
	height: 60px;
	float: left;
	margin-right: 22px;
}
.hero-div .heroname {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0px; 
  display: inline-block;
  line-height: 60px;
}
.hero-wrapper {
    position: absolute;
    top: 12px;
    left: 275px;
}
.hero-data {
	display: inline-block;
	font-size: 16px;
  font-weight: bold;
}
.hero-playtime {
   color: #5b6abf;
   margin-right: 52px;
}
.hero-kda {
  color: #424242;
  margin-right: 59px; 
}
.hero-win {
  color: #d32f2e;
}
.hero-info {
  border-radius: 5px;
  background-color: #e7e7e7;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
  padding: 4px 0px;
  color: #424242;
  font-size: 14px;
  font-weight: bold;
}
.hero-head-hero {
  padding: 0px 80px;
  border-right: solid 1px #979797;
}
.hero-head-playtime {
  padding: 0px 40px;
}
.hero-head-kda {
  padding-right: 60px;
}
.hero-more {
    width: 220px;
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    vertical-align: middle;
    text-align: center;
}

.arrow {
  width: 24px;
  cursor: pointer;
  vertical-align: middle;
}

.hero-more > div {
	margin: 0 auto;
}

.hero-reputation {
	background-color: #8e9ef7;
	padding: 12px 10px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0px;
    color: #212121;
    display: inline-block;
    border-radius: 8px;
    vertical-align: middle;
}

.renew-icon {
  width: 23px;
}
.check-repu {
   font-size: 13px;
   font-weight: 500;
   color: #9b9b9b;
   margin-right: 27px;
   vertical-align: middle;
}
.renew-available {
  vertical-align: middle;
  margin-right: 5px;
}
.renew-box {
    display: inline-block;
    padding: 0px 20px;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    color: #f44336;
    font-size: 17px;
    border-radius: 3px;
    border: solid 1px #f44336;
    cursor: pointer; 
    background: linear-gradient(to right, #f44336 50%, white 50%);
    background-size: 200% 100%;
    background-position:right bottom;
    transition:all 6s ease;
    margin-left: 15px;
}
.renew-box-disabled {
    display: inline-block;
    padding: 0px 20px;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    color: #9b9b9b;
    font-size: 17px;
    border-radius: 3px;
    border: solid 1px #979797;
    cursor: pointer; 
    background: linear-gradient(to right, #f44336 50%, #f5f5f5 50%);
    background-size: 200% 100%;
    background-position:right bottom;
    transition:all 6s ease;
    margin-left: 15px;
}
.renew-box:hover {
    background-color: #e9e9e9;
}
.renew-box.active {
   background-position:left bottom;
}
.renew-ment {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0px;
  color: #5b6abf;
  margin-left: 12px;
}

.meta {
    font-size: 11px;
    letter-spacing: 0.5px;
    color: #9a9a9a;
}

.evil {
  width: 33px;
  vertical-align: middle;
  margin: 0 60px 0 40px;
}

.reputation-text {
  font-size: 16px;
  font-weight: normal;
  color: #4b58a2;
  letter-spacing: 0.5px;
  width: -moz-calc(100% - 150px);
  width: -webkit-calc(100% - 150px);
  width: calc(100% - 150px);
  display: inline-block;
  vertical-align: middle;
}
.reputation-text-top {
  display: inline-block;
  width: -moz-calc(100% - 156px);
  width: -webkit-calc(100% - 156px);
  width: calc(100% - 156x);
  vertical-align: middle
}
.quot-left {
  vertical-align: middle;
  margin-right: 50px;
}

.quot-right {
  vertical-align: middle;
  margin-left: 50px;
}
.reputation-div { 
    padding: 20px;
    background-color: rgba(91,106,191,0.2);
}

.hero-data-div {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #eaeaea;
    padding: 40px 0px;
}

.hero-detail-1 {
  display: inline-block;
  width: 49.5%;
  padding-left: 36px;
  padding-right: 20px;
  vertical-align: top;
}
.hero-detail-2 {
  display: inline-block;
  width: 49.5%;
  padding-left: 36px;
  padding-right: 20px;
}

.list-circle {
  background-color: #9b9b9b;
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin-right: 15px;
  vertical-align: middle;
}

.list-title {
  font-size: 16px;
  font-weight: normal;
  color: #424242;
  vertical-align: middle;
}
.medal {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
    display: inline-block;
    width: 200px;
    float: right;
}
.medal > span {
  font-size: 16px;
  font-weight: normal;
  color: #616161;
}
.medal img {
  width: 18px;
  margin-bottom: 3px;
  margin-right: 10px;
  vertical-align: middle;
}

.hero-data-list {
  margin-bottom: 15px;
}

.hero-data-title {
  display: inline-block;
}

.hero-data-num {
  float: right;
  font-size: 16px;
  font-weight: normal;
  color: #616161;
}

.box-average {
  float: right;
  font-size: 10px;
  color: #5b6abf;
  vertical-align: bottom;
  margin-top: 5px;
  margin-right: 15px;
}

.spinner-white-only {
  border: gray !important;
}

.preloader-wrapper.renew-loader {
  background-color: transparent !important;
  width: 23px !important;
  height: 23px !important;
}
.renew-loader.spinner-layer {
  background-color: transparent !important;
}
.renew-loader.spinner-layer > div {
  background-color: transparent !important;
}
#mobile-top-open {
  margin-left: 10px;
}

nav {
  background-color: #353535 !important;
  height: 60px;
  position: fixed;
  z-index: 100;
  top: 0;
}
.computer-nav a {
  color: #ffffff;
  font-size: 16px;
  padding: 0px 33px;
  height: 100%;
  display: inline-block;
}
.computer-nav a.active {
  background-color: #000000;
}
.computer-nav a.active:hover {
  background-color: #000000;
}
.computer-nav a:hover { 
  background-color: #313131;
}
.login-button-img {
  vertical-align: middle;
  margin-right: 12px;
}
.badwatch-logo {
  vertical-align: middle;
  margin-left: 43px;
  margin-right: 15px;
}
.nav-logo-text {
  vertical-align: middle;
  margin-right: 30px;
}
.nav-user {
  padding-left: 15px;
  color: white;
  margin-bottom: 10px;
}
.right-logo {
  color: #ffffff !important;
  font-size: 21px !important;
  font-weight: bold;
  cursor: pointer;
}
.badwatch {
    width: 162px;
    vertical-align: middle;
}

.userView {
  text-align: center;
}
#slide-out {
  background-color: #353535;
}

.back-button {
  margin-left: 10px;
  margin-top: 10px;
}

.side-li {
  color: white !important;
  font-size: 20px !important;
  font-weight: 500 !important;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  height: 60px !important;
  line-height: 60px !important;
}

.side-li img {
  width: 30px;
  vertical-align: middle;
  margin-bottom: 7px;
  margin-right: 20px;
}

.side-active {
  color: white !important;
  margin-top: 7px !important;
  float: right !important;
  display: none !important;
}

#slide-out a.active {
  background-color: #000000;
}

#slide-out a.active .side-active {
  display: inline-block !important;
}

.mobile-hero-more {
    text-align: center;
    clear: both;
    margin-top: 20px;
}


.quick-choose {
    border: solid 2px #5b6abf;
    border-radius: 9px;
    border-top-left-radius: 0px;
    position: relative;
}


.mobile-gamedata {
    border-radius: 8px;
    background-image: linear-gradient(to bottom, #ffffff, #e9e9e9);
    border: solid 1px #878686;
}

.chat-box {
  height: 733px;
  width: -moz-calc(100% - 20px);
  width: -webkit-calc(100% - 200px);
  width: calc(100% - 200px);
  display: inline-block;
  padding: 14px 14px 14px 14px;
  border: solid 2px #5b6abf;
  position: relative;
  overflow-y: auto;
  vertical-align: middle;
}

.message-list {
  overflow-y: auto;
}

.chat-box > div {
  padding-bottom: 5px;
}

.connect-title {
  padding-left: 11px;
  padding-bottom: 4px;
}

.chat-name-list {
  width: 200px;
  float: right;
  height: 700px;
  background-color: #f0f0f0;
  border: solid 2px #979797;
  position: relative;
  padding: 12px 0px 42px 0px;
  font-size: 12px;
  color: #393939;  padding-bottom: 4px;

}

.chat-box-name {
  font-size: 14px;
  color: #454444;
  font-weight: 500;
  margin-left: 50px;
}

.log-name {
  color: blue;
  font-weight: 500;
}

.chat-log {
  font-weight: bold;
  margin-left: 50px;
}

.get-out-chat {
  background-color: #d8d8d8;
  box-shadow: inset 3px 3px 3px 0 rgba(255, 255, 255, 0.5), inset -3px -3px 3px 0 rgba(255, 255, 255, 0.5);
  border-top: solid 2px #979797;
  position: absolute;
  width: 100%;
  bottom: 0px;
  left: 0px;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0px;
  color: #676767;
  text-align: center;
  padding: 4px 0px;
  cursor: pointer;
}

.get-out-chat:hover {
  background-color: #c3c3c3;
}

.chat-name-list .connect {
  border-top: solid 1px #979797;
  padding-top: 11px;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 14px;
  color: #000000;
  height: 621px;
  overflow-y: auto;
}

.chat-input-div {
    width: -moz-calc(100% - 20px);
    width: -webkit-calc(100% - 200px);
    width: calc(100% - 200px);
    border: solid 2px #5b6abf;
    border-top: 0px;
    height: 33px;
}

.chat-input-div input {
  width: -moz-calc(100% - 152px) !important;
  width: -webkit-calc(100% - 152px) !important;
  width: calc(100% - 152px) !important;
  margin-bottom: 0px !important;
  outline: none !important;
  height: 30px !important;
  padding-bottom: 1px;
  border-bottom: none !important;
      padding-left: 20px !important;
    padding-right: 20px !important;
}

.chat-avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  float: left;
}

.chat-input-div input:focus {
  outline: none !important;
  box-shadow: 0px !important;
  border-bottom: solid 1px #5b6abf !important;
}

.chat-input-div span {
    display: inline-block;
    width: 100px;
    border-left: solid 2px #5b6abf;
    text-align: center;
    padding: 5px 0px;
    height: 31px;
    vertical-align: top;
    float: right;
    color: #676767;
    font-size: 14px;
    cursor: pointer;
}

.chat-input-div span:hover {
   color: white;
   background-color: #5b6abf;
}

.rooms {
  display: inline-block;
  width: 20%;
}
.rooms > a {
  display: inline-block;
}
.chat-name {
  text-align: center;
  background-color: #5b6abf;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.24), inset 2px 2px 2px 0 rgba(0, 0, 0, 0.2), inset -2px -2px 2px 0 rgba(0, 0, 0, 0.2);
  font-size: 30px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  padding: 27px;
  color: white;
}
.roomImage {
  vertical-align: middle;
}

.tier-div {
    text-align: center;
    height: 118px;
    line-height: 118px;
    background-image: linear-gradient(to bottom, rgba(237, 237, 237, 0.05), rgba(137, 137, 137, 0.53));
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.5), inset 2px 2px 2px 0 rgba(0, 0, 0, 0.5), inset -2px -2px 2px 0 rgba(0, 0, 0, 0.5);
}
.tier-div img {
  vertical-align: middle;
}
.mobile-chat-list {
  display: none;
  border: solid 1px #979797;
  font-size: 14px;
  color: #000000;
  text-align: center;
  padding: 5px 0px;
  cursor: pointer;
  background-color: #f0f0f0;
  clear: both;
}
.mobile-chat-list-close {
  display: none;
  border: solid 1px #979797;
  font-size: 14px;
  color: #000000;
  text-align: center;
  padding: 5px 0px;
  cursor: pointer;
  background-color: #f0f0f0;
  clear: both;
}
.mobile-connect {
  background-color: #f0f0f0;
  padding: 10px;
  overflow-y: auto;
  background-color: #f0f0f0;
  clear: both;
  border: solid 1px #979797;
  height: 250px;
}

.mobile-rooms {
  display: none;
  margin-top: 30px;
  margin-bottom: 20px;
  clear: both;
}
.mobile-rooms .chat-name {
  padding: 10px;
}
.mobile-rooms .tier-div {
  height: 84px;
  line-height: 84px;
}
.youtube-title {
   background-color: rgba(215, 215, 215, 0.2);
   border-top: solid 2px #5b6abf;
   border-bottom: solid 0.2px #656565;
   padding: 4px 9px;
   font-size: 14px;
   font-weight: 500;
   letter-spacing: 0px;
   color: #252525;
   margin-top: 100px;
}

.youtube-writer {
  border-bottom: solid 0.2px #656565;
  font-size: 14px;
  letter-spacing: 0px;
  padding: 4px 9px;
}

.youtube-writer span {
  color: #888888;
}
.youtube-date {
  margin-left: 30px;
}

.watch-text {
  color: #5b6abf;
}


.like-count img {
  vertical-align: middle;
  width: 16px;
  margin-right: 9px;
}
.hit-count img {
  margin-left: 27px;
  margin-right: 9px;
  vertical-align: middle;
}

.siba {
  clear: both;
}
.siba span {
  vertical-align: middle;

}

.like-status {
  float: right;
}
.comment-box {
  vertical-align: middle;
  color: #5b6abf;
  font-size: 14px;
}
.comment-box img {
  width: 21px;
  vertical-align: middle;
  margin-right: 12px;

}
.comment-container {
  margin-top: 57px;
}
.comment {
  border-top: solid 2px #d8d4d4; 
  padding-top: 5px;
  padding-bottom: 30px;
}
.comment:last-child {
  border-bottom: solid 2px #d8d4d4;
}
.comment-avatar {
  width: 37px;
  display: inline-block;
}
.right-comment-div {
  margin-left: 20px;
  display: inline-block;
  vertical-align: top;
}
.ip {
    font-size: 11px;
    margin-left: 7px;
}
.comment-name {
  margin-right: 10px;
  font-size: 12px;
  color: #252525;
}
.right-comment-div > div {
  font-size: 15px;
  color: #252525;
}
.comment-reply {
  color: #686868;
  font-size: 12px;
  margin-top: 5px;
  float: right;
  cursor: pointer;
}

.comment-reply:hover {
  color: black;
}
.reply {
  margin-left: 57px;
}

.comment-input {
  border-top: solid 2px #d8d4d4;
  padding-top: 50px;
}
.comment-input input {
    width: 80% !important;
    border-radius: 8px !important;
    border: 2px solid #b5b4b4 !important;
    height: 30px !important;
    padding: 0px 10px !important;
}

.comment-input .btn {
  background-color: #5b6abf;
  margin-left: 10px;
}
.comment-input .btn:hover {
  background-color: #5b6abf;
}
.pointer {
  cursor: pointer;
}
.youtube-container {
  margin-top: 20px;
}
#modal1 h5 {
   font-size: 17px;
   letter-spacing: 0px;
   color: #262626;
}
.article-textarea {
  resize: none;
  height: 400px;
}
.modal-footer .btn {
  background-color: #5b6abf;
}
.modal-footer .btn:hover {
  background-color: #5b6abf;
}
#modal1 .btn {
  background-color: #5b6abf;
  margin-left: 10px;
}
#modal1 .btn:hover {
  background-color: #5b6abf;
}


  /* label color */
   #modal1 .input-field label {
     color: #5b6abf;
   }
   /* label focus color */
   #modal1 .input-field input[type=text]:focus + label {
     color: #5b6abf;
   }
   /* label underline focus color */
   #modal1 .input-field input[type=text]:focus {
     border-bottom: 1px solid #5b6abf;
     box-shadow: 0 1px 0 0 #000;
   }
   /* valid color */
   #modal1 .input-field input[type=text].valid {
     border-bottom: 1px solid #5b6abf;
     box-shadow: 0 1px 0 0 #000;
   }
   /* invalid color */
   #modal1 .input-field input[type=text].invalid {
     border-bottom: 1px solid #5b6abf;
     box-shadow: 0 1px 0 0 #000;
   }
   /* icon prefix focus color */
   #modal1 .input-field .prefix.active {
     color: #5b6abf;
   }
.board-top .btn {
  background-color: #5b6abf;
  margin-left: 10px;
}
.board-top .btn:hover {
  background-color: #5b6abf;
}
.article-table {
}
.article-table thead{
  border-radius: 1px;
  border: solid 1px #9b9b9b;
  background-color:  #e7e7e7;
  text-align: center;
  font-size: 13px;
  color: #757575;
  letter-spacing: 0.6px;
  font-weight: bold;
}
.article-table td {
  padding: 5px 5px;
  font-size: 14px;
  text-align: center;
  border-top: solid 1px #c3c3c3;
  border-bottom: solid 1px #c3c3c3;
   color: #414141;
}
.article-comment-count {
  font-size: 14px;
  color: #ff0000;
  margin-left: 10px;
}

td.collapsing {
      width: 1px;
    white-space: nowrap;
}

.hit-pad {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

td.left-align {
  text-align: left !important;
  padding-left: 10px !important;
}
.article-title a{
  color: #424242;
  letter-spacing: 0.6px;
}
.article-title a:hover {
  text-decoration: underline;
  color: #414141 !important;
}
.pagination li.active a {
    color: #f44336 !important;
}
.pagination li.active {
  background-color: transparent !important;
}
.pagination {
  margin-top: 100px;
}
.article-type {
  width: 130px;
  color: #757575;
  letter-spacing: 0.6px;
  font-size: 13px;

}
.no-user {
  padding: 100px 30px;
  background-color: #5b6abf;
  color: white;
  text-align: center;
  font-size: 20px;

}
.whisper-div {
  position: absolute;
  top: 32px;
  left: 64px;
  color: white;
  background-color: #5b6abf;
  border: 1px solid #5b6abf;
  border-radius: 8px;
  z-index: 20;
}
.whisper-div > div {
   padding: 5px 33px;
   background-color: #5b6abf;
   cursor: pointer;
}
.whisper-1 {
  border-bottom: 1px solid white;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px
}
.whisper-2 {
  border-bottom: 1px solid white;
}
.whisper-3 {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.whisper-3 span {
  margin-left: 7px;
}
.whisper-div > div:hover {
  color: white;
  background-color: #4b579c
}
.whisper-from {
  display: none;
  color: #DB2828;
  font-weight: bold;
  vertical-align: middle;
  margin-left: 7px;
}
.whisper-from.active {
  display: inline-block;
}
.chat-box-name.active{
  display: inline-block;
}
.whisper-to {
   display: none;
  color: #2185D0;
  font-weight: bold;
  vertical-align: middle;
  margin-left: 7px;
}
.whisper-to.active {
  display: inline-block;
}
.relative {
  position: relative !important;
}
.reply > div {
  margin-top: 10px;
}
.board-top select, .article-write-select {
  width: 113px !important;
  height: 31px !important;
  border-radius: 4px !important;
  border: solid 1px #9b9b9b !important; 
  margin-top: 30px;
  outline: none !important;
}
.article-table td {
  letter-spacing: 0.6px;
  color: #757575;
}
.vertical-choose-1 {
    width: 37px;
    display: block;
    border-radius: 4px;
    border: solid 1px #979797;
    color: #424242;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 11px;
    cursor: pointer;
    float: right;
    margin-top: 86px;
    line-height: 21px;
  }
  .vertical-choose-1.active {
    border: solid 1px #f44336;
  }
 .vertical-choose-2 {
  width: 37px;
  display: block;
  border-radius: 4px;
  border: solid 1px #979797;
  color: #424242;
  font-size: 16px;
  font-weight: bold;
  padding: 26px 11px;
  cursor: pointer;
  float: right;
  margin-top: 14px;
  clear: both;
  line-height: 21px;
 } 
 .vertical-choose-2.active {
  border: solid 1px #f44336;
 }
.summary {
  border-radius: 5px;
  background-color: #e7e7e7;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
  padding: 4px 20px;
  font-size: 14px;
  color: #424242;
  font-weight: bold;
}
.summary-data {
  background-color: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
  padding: 25px;
  margin-top: 15px;
}
.summary-icon {
  vertical-align: middle;
  margin-right: 9px;

}
.user-detail-card {
  padding-top: 6px;
  padding-bottom: 6px;

}
.search-preloader {
    position: absolute !important;
    right: 14px;
    top: 14px;
}

.main-center .search-preloader {
    position: absolute !important;
    right: 30px;
    top: 14px;
}
.mobile-hero-info {
  color: #262b4c;
  font-size: 16px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 10px;
}
.login-dropdown {
    display: inline-block;
    padding: 0px 15px;
    cursor: pointer;
}












@media only screen and (max-width: 600px) {
	/* 모바일 */
	.mobile-hide {
		display: none !important;
	}
	.youtube-fixed {
		right: 10px;
   	    bottom: 35px;
	}
  .login-button {
    margin-bottom: 20px;
  }
  body {
    padding-top: 56px;
  }
  .logo {
    width: 213px;
    padding-top: 80px;
    margin-top: 0px
  }
  .main-letter {
    font-size: 15px;
  }
  .search-input {
    width: 171px !important;
  }
  .main-p {
    font-size: 18px;
  }
  .user-list > div {
    width: 100%;
  }
  .list-battletag {
    width: 100%;
    display: block;
  }
  .body-container {
    padding-top: 0px;
  }

  .renew-box {
    margin-left: 0px;
  }
  .evil {
     margin: 0 40px 0 20px;
  }
   .hero-detail-1 {
    display: block;
    width: 100%;
    padding-left: 20px;
    padding-right: 36px;
  }
   .hero-detail-2 {
    display: block;
    width: 100%;
    padding-left: 20px;
    padding-right: 36px;
  }
  .hero-div .heroname {
    margin-top: 5px;
    font-size: 16px;
  }
  
  .real-title {
    font-size: 22px;
    padding: 10px;
    margin-left: 20px;
  }
  .real-data {
     font-size: 16px;
     margin-top: 0px;
  }
  .chat-name-list {
    display: none;
  }
  .chat-box , .chat-input-div{
    width: 100%;
  }
  .mobile-chat-list {
      display: block;

    margin-top: 50px;
    }
    .mobile-chat-list-close {
    display: block;
  }
  .mobile-connect {
    margin-top: 50px;
  }
  .rooms {
    display: none;;
  }
  .mobile-rooms {
    display: block;
  }
  .youtube-title {
    margin-top: 30px;
  }
  .board-top {
    margin-top: 20px;
  }
  .chat-box {
    height: 400px;
  }
  .computer-nav {
    display: none;
    
  }
  .reputation {
    padding: 19px 20px;
  }
  .quot-left {
    margin-right: 20px;
  }
  .quot-right {
    margin-left: 20px;
  }
  .reputation-text-top {
    width: -moz-calc(100% - 99px);
    width: -webkit-calc(100% - 99px);
    width: calc(100% - 99px);
  }
  .user-profile {
    height: 150px;
    line-height: 32px;
  }
  .profile-user-name {

  }
  .profile-battletag {
    padding-top: 10px;
    display: block;
  }
  .profile-user-level {
    display: block;
    margin-left: 78px;
  }
  .profile-absolute {
    top: inherit;
    bottom: 10px;
  }
  .renew-box {
    margin-left: 15px;
  }
  .evil {
    margin: 0px 30px 0px 20px;
  }
  .reputation-text {
    width: -moz-calc(100% - 105px);
    width: -webkit-calc(100% - 105px);
    width: calc(100% - 105px);
  }

  .hero-avatar {
    border-radius: 50%;
    margin: 6.4px 0px 0px 18px;
    float: left;
  }
  .hero-div .heroname {
        display: inline-block;
        width: 100px;
        text-align: center;
    clear: both;
    line-height: 0px;
  }
  .mobile-hero-wrapper {
      position: absolute !important;
      top: 10px !important;
      left: 34% !important;
      font-size: 16px !important;
      color: #262b4c !important; 
      width: auto !important;
  }
  .mobile-hero-wrapper td {
    padding: 1px 8px !important;
  }
  .hero-more {
    width: 50px;
  }

  .h-playtime {
    font-weight: bold;
    color: #5b6abf;
  }
  .h-kda {
    font-weight: bold;
    color: #424242;
  }
  .h-win {
    font-weight: bold;
    color: #d32f2e;
  }
  .hero-div {
    height: 100px;
  }
  .mobile-login-dropdown {
    position: relative;
  }
  .dropdown {
    right: inherit;
    top: 25px;
    z-index: 100;
  }
}


@media only screen and (min-width: 601px) {
	/* Tablet + Computer */
	.computer-hide {
		display: none !important;
	}
	#watch-nav {
		 height: 80px;
   		 line-height: 80px;
	}
	.youtube-fixed {
		right: 17%;
   	    bottom: 45px;
	}
  .mobile-chat-list-close {
    display: block;
    margin-top: 100px;
  }


}




::-ms-clear { display: none; }

@media only screen and (min-width: 1400px) {
	.container {
		width: 1307px !important;
	}
  .row .col.h2 {
      width: 12.2666666667% !important;
      margin-left: auto;
      left: auto;
      right: auto;
  }
  .mode-choose-1 {
    display: none;
  }
  .mode-choose-2 {
    display: none;
  }
}

@media only screen and (min-width: 990px) and (max-width: 1399px) {
	.container {
		width: 920px !important;
	}

  .row .col.h2 {
      width: 17.666667% !important;
      margin-left: auto;
      left: auto;
      right: auto;
  }
  .roomList {
    width: 1280px;
  }
   .middle-big-hide {
    display: none !important;
  }
  nav .input-wrapper {
    display: none;
  }
  .mobile-nav {
    display: none;
  }
  .mode-choose-1 {
    display: none;
  }
  .mode-choose-2 {
    display: none;
  }
}


@media only screen and (min-width: 601px) and (max-width: 989px) {
  

  .row .col.h2 {
      width: 22% !important;
      margin-left: auto;
      left: auto;
      right: auto;
  }
  .chat-name-list {
    display: none;
  }
  .chat-box , .chat-input-div{
    width: 100%;
  }
  .mobile-chat-list {
    display: block;

  margin-top: 130px;
  }

  .mobile-chat-list-close {
    display: block;
  }

  .rooms {
    display: none;;
  }

  .mobile-rooms {
    display: block;
  }

  .tablet-hide {
    display: none !important;
  }
  nav .input-wrapper {
    display: none;
  }
  .computer-nav {
    display: none;
  }
}


::-webkit-input-placeholder {
   color: black;
   opacity: 1 !important;
}

:-moz-placeholder { /* Firefox 18- */
   color: black;  
   opacity: 1 !important;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: black;  
opacity: 1 !important;
}

:-ms-input-placeholder {  
   color: black;  
   opacity: 1 !important;
}


input:focus::-webkit-input-placeholder 
{
color: transparent;
}